//
// Forms.scss
//

[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  &::placeholder {
    text-align: left /*rtl: right*/;
  }
}

.form-check {
  position: relative;
  text-align: left /*rtl: right*/;
}

// checkbox input right

.form-check-right {
  padding-left: 0;
  display: inline-block;
  padding-right: $form-check-padding-start;
  .form-check-input {
    float: right;
    margin-left: 0;
    margin-right: $form-check-padding-start * -1;
  }

  .form-check-label {
    display: block;
  }
}
//#114290

.accordion-button {
  background-color: #114290;
  color: white;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

// checkbox

.form-checkbox-outline {
  .form-check-input {
    border-width: 2px;
    background-color: $card-bg;

    &:active {
      filter: none;
    }

    &:checked {
      background-color: $card-bg !important;

      &[type="checkbox"] {
        background-image: none;
      }

      &:after {
        position: absolute;
        content: "\F012C";
        font-family: "Material Design Icons";
        top: -4px !important;
        left: 1px; /*rtl: -4px */
        font-size: 16px;
        color: $dark;
      }
    }
  }
}
.form-control_search {
  background-color: #ebf5ff;
  margin-right: 1rem;
  display: block;
  width: 100%;
  padding: 0.47rem 0.75rem;
  font-size: 0.8125rem;
  /* font-weight: 400; */
  /* line-height: 1.5; */
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
// radio

.form-radio-outline {
  .form-check-input {
    background-color: $card-bg;
    position: relative;

    &:active {
      filter: none;
    }

    &:checked {
      background-color: $card-bg !important;

      &[type="checkbox"] {
        background-image: none;
      }

      &:after {
        position: absolute;
        content: "";
        top: 3px !important;
        left: 3px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
      }
    }
  }
}

// checkbox color

@each $color, $value in $theme-colors {
  .form-check-#{$color} {
    .form-check-input {
      &:checked {
        background-color: $value;
        border-color: $value;
      }
    }
  }

  .form-radio-#{$color} {
    .form-check-input {
      &:checked {
        border-color: $value;
        background-color: $value;
        &:after {
          background-color: $value;
        }
      }
    }
  }
}

.form-check-label {
  cursor: pointer;
  margin-bottom: 0;
}

// Switch sizes

.form-switch-md {
  padding-left: 2.5rem;
  min-height: 24px;
  line-height: 24px;
  .form-check-input {
    width: 40px;
    height: 20px;
    left: -0.5rem;
    position: relative;
  }

  .form-check-label {
    vertical-align: middle;
  }
}

.form-switch-lg {
  padding-left: 2.75rem;
  min-height: 28px;
  line-height: 28px;
  .form-check-input {
    width: 48px;
    height: 24px;
    left: -0.75rem;
    position: relative;
  }
}

.input-group-text {
  margin-bottom: 0px;
}

// transfer list

.rdl-filter,
.rdl-control {
  background-color: $input-bg;
  border-color: $input-border-color;
  color: $input-color;
}
.form-control {
  background-color: #ebf5ff;
}

.dep {
  margin-right: 13%;
}

.react-dual-listbox {
  button {
    color: $dark;
    border-color: $border-color;
    background-color: $light;
  }

  input,
  select {
    &:disabled {
      background-color: $input-disabled-bg;
    }
  }
}

.rdl-move {
  &:hover,
  &:active,
  &:focus {
    &:not(:disabled) {
      background-color: darken($light, 2%);
      border-color: $border-color;
    }
  }
}

.css-1uccc91-singleValue {
  color: $input-color !important;
}

.react-kanban-column {
  background-color: $light !important;
}

//icon tab
.icon-tab li:first-child .nav-link {
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
}
.icon-tab li:last-child .nav-link {
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
}

//form
.form-check-input:checked {
  background-color: #34c38f;
  border-color: #34c38f;
}

#vertical-tabPane.active {
  background-color: #7bcaeb;
  font-weight: bold;
}
#vertical-tabPane:hover {
  color: #ffffff;
  font-weight: bold;
}
#vertical-tabPane.active:hover {
  color: white;
  font-weight: bold;
}

#vertical-tabPane {
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  background-color: #c6d1d5;
  color: rgb(255, 255, 255);
}

#margTop {
  margin-top: 66px;
}

#vertical-home-link {
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  background-color: #0086bf;
  color: rgb(182, 182, 182);
}
#vertical-home-link.active {
  background-color: #00c4ca;
  font-weight: bold;
  color: white;
}
#vertical-home-link:hover {
  color: white;
  font-weight: bold;
}
#vertical-home-link.active:hover {
  color: white;
  font-weight: bold;
}

#vertical-home-link-test {
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  background-color: #0086bf;
  color: rgb(204, 204, 204);
}

#vertical-home-link-test.active {
  background-color: #00c4ca;
  font-weight: bold;
  color: white;
}
#vertical-home-link-test:hover {
  color: white;
  font-weight: bold;
}
#vertical-home-link-test.active:hover {
  color: white;
  font-weight: bold;
}
#verticalTabContent {
  padding: 0px !important;
}

#horizontal-home-link {
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  background-color: #0086bf;
  color: white;
}

#horizontal-home-link:hover {
  color: white;
}

#horizontal-home-link.active {
  background-color: #c5ab5a;
  font-weight: bold;
  color: white;
}
#horizontal-home-link.active:hover {
  color: white;
  font-weight: bold;
}

#title {
  align-items: center;
  text-align: center;
  font-size: 14px;
  background-color: rgb(163, 210, 231);
  border-radius: 3px;
  color: rgb(255, 255, 255);
  padding-top: 10px !important;
  width: 100%;
  height: 40px;
}

#add_header {
  background-color: rgb(163, 210, 231);
  align-items: center;
  color: white;
  padding-top: 10px !important;
  text-align: center;
  align-items: center;
  border-radius: 3px;
  height: 40px;
}

#req_header {
  background-color: #0086bf;
  color: white;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  text-align: center;
}

#req_header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#req_header .header-content span {
  margin: 0 5px;
}

#course_header {
  background-color: #c5ab5a;
  align-items: center;
  color: white;
  padding-top: 10px !important;
  text-align: center;
  align-items: center;
  border-radius: 3px;
  height: 40px;
}

#addStudent_header {
  background-color: #ffdb78;
  align-items: center;
  height: 50px;
  font-size: large;
  align-items: center;
  padding-top: 10px !important;
  padding-right: 15px;
}

#student-card {
  margin-top: 20px;
}

#sucBut {
  margin: 0px 0px 0px 4px;
}

#horizontalTitles {
  color: orange;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#planTitle {
  align-items: center;
  font-size: 12px;
  background-color: #c8dff3;
  border-radius: 3px;
  color: white;
  padding-top: 10px !important;
}
.table-responsive {
  border: none !important;
  max-width: 100%;
  overflow-x: hidden;
  margin-top: 10px;
}

.horizontalTitles {
  color: orange;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #0086bf;
  border-color: #0086bf;
}

.select-style {
  width: 200%;
}
.select-style-schedule {
  width: 100%;
}
.select-style-std {
  width: 100%;
}

.select-style-course {
  width: 80%;
}

.select-style-year {
  .css-yk16xz-control {
    border-color: #0086bf;
    border-width: 2px;
  }
  .css-1pahdxg-control {
    border-color: #0086bf;
    border-width: 2px;
  }
}

.table {
  text-align: center;
  > thead {
    vertical-align: bottom;
    // background-color: lightcyan;
  }
}

.form-check-input1 {
  &:checked {
    background-color: orange;
    border: orange;
  }
}
.form-check-input-CR {
  height: 1rem;
  width: 1rem;
  margin: 0.75rem 0.5rem;
  background-color: #cdfbea;
}
.TitleStyle {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #0086bf;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.form-label {
  margin: 10px;
}

.navItem-header {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
// lecuterperoid

.marginTop {
  margin-top: -2%;
  border: 1px solid #c9c9c9;
  padding: 10px;
  margin-bottom: 15px;
}
.centeraligne {
  margin-top: 0.5rem;
  font-weight: bold;
}
.addButtonStyle {
  background-color: #75dfd1;
  color: #ffffff;
  text-align: left;
}

.table-responsive {
  min-height: 45vh;
}

.wizard {
  > .action {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;

    > ul {
      display: block;
      text-align: left;
      padding-left: 0;

      > li {
        display: inline-block;
        margin: 0 0.5em;
        > .generate-button {
          background-color: $warning;
        }
      }
    }
    a,
    a:active,
    a:hover {
      background-color: $warning;
      border-radius: 4px;
      padding: 8px 15px;
      color: $white;
    }

    .disabled {
      a,
      a:active,
      a:hover {
        opacity: 0.65;
        background-color: $warning;
        color: $white;
        cursor: not-allowed;
      }
    }
  }

  // verticl wixard
  &.vertical-wizard {
    display: flex;
    flex-wrap: wrap;

    // step
    .steps {
      > ul {
        flex-direction: column;

        > li {
          width: 100% !important;
        }
      }
    }

    .steps,
    .content,
    .actions {
      width: 100%;
    }

    .steps {
      @media (min-width: 1200px) {
        width: 25%;
      }
    }

    .content {
      padding: 24px;
      @media (min-width: 1200px) {
        width: 75%;
        padding: 12px 24px;
      }

      > .body {
        padding: 0;
      }
    }
  }
}

.sidebar {
  float: right;
  width: 350px;
  background-color: #f2f2f2;
  padding: 20px;
  transition: width 0.3s ease;
  height: 160vh;
  overflow-y: auto;
}

.table > thead {
  vertical-align: bottom;
  // background-color: #114c90e3;
  background-color: #114290;
  color: white;
}

.sidebar h2 {
  text-align: center;
  color: #0086bf;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 1px solid #0086bf;
  padding-bottom: 5px;
}

.sidebar ul {
  list-style-type: none;
  color: black;
  padding-right: 25px;
  font-size: larger;
}
.sidebar ul li {
  margin-bottom: 20px;
  margin-top: 20px;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
}

.included-items {
  list-style-type: none;
  color: black;
  padding-right: 25px;
  padding-left: 0px;
}

.included-items li {
  margin-bottom: 20px;
  margin-top: 10px;
}

.included-items li a {
  text-decoration: none;
  color: black;
  display: flex;
  font-size: 14px;
}

.student-id {
  font-size: 16px;
}

.collapse-button {
  background-color: #0086bf;
  border-radius: 3px;
  text-align: center;
  color: white;
  border: none;
  padding: 10px 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 160vh;
  i {
    font-size: 30px;
  }
}

.definition-tabPanes {
  background-color: #7bcaeb;
  border-radius: 3px;
  text-align: center;
  color: white;
  border: none;
  padding: 10px 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 100%;
  i {
    font-size: 30px;
  }
}

.exam_header {
  background-color: #0086bf;
  border-radius: 3px;
  text-align: center;
  color: white;
  border: none;
  padding: 10px 5px;
  transition: all 0.3s ease;
  height: 100%;
}

.collapse-course {
  background-color: #114c90;
  border-radius: 3px;
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 100%;
  width: 25px;
  i {
    font-size: 20px;
  }
}

.collapse-sidebar {
  width: 0px;
  padding: 0;
  height: 100%;
}

.modal-content {
  margin-left: 20px;
  display: flex;
}

.modal {
  display: flex;
  height: 100%;
}

.student-form {
  margin-top: 80px;
}
.nullFacultyId {
  border: 2px solid red;

  transition: border-color 0.5s ease-in-out;
}

.h6 {
  color: white;
}
.background-h6 {
  background-color: #0086bf;
}

#vertical-home-link1 {
  text-align: center;
}
#vertical-home-link1.active {
  background-color: #0086bf;
}
#vertical-home-link1:hover {
  color: #0086bf;
}
#vertical-home-link1.active:hover {
  color: white;
}
.CoursesRegistration-title {
  color: #0086bf;
}

.blue-noti-icon {
  color: #0086bf !important;
}

.info-icon {
  margin-top: -15px;
  margin-right: -15px;
}

.cu-Semes,
.cu-Semes-modal {
  font-size: large;
  font-weight: bold;
  color: #0086bf;
}

.cu-Semes-modal {
  width: 63vw !important;
}

.card-header {
  background-color: #b4d2ec;
  align-items: center;
  height: 40px;
  padding-top: 10px !important;
  padding-right: 15px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  h4 {
    color: white;
    font-size: 15px;
    font-weight: bold;
    i {
      color: white;
      border-radius: 13px;
    }
  }
}

@media (max-width: 1700px) {
  .schedule-timing-responsive,
  .branches-categories-responsive {
    width: 100vw;
  }
}

.form-header {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  background-color: #0086bf;
  color: white;
  height: 40px;
  padding: 10px;
  margin: 10px;
}
.colorNonActiveCourses {
  height: 2rem;
  width: 2rem;
}

.react-bootstrap-table {
  .table {
    .warning-cell {
      //  background-color: #ff2e2e;
      border: 3px solid #ff2e2e;
    }
  }
}
.timeLine-header {
  width: 100%;
  h4 {
    background-color: #00c4ca;
    color: white;
  }
}

.right-label {
  font-size: 15px;
  margin: 7px 0 7px 15px;
  font-weight: $font-weight-semibold;
}

.left-label {
  font-size: 14px;
  margin: 7px 20px 7px 0;
  text-align: center;
}

.save-button {
  background-color: #0086bf;
  color: #ffffff;
  /* Add any additional styling you need */
}

.table th {
  font-size: small;
  font-family: var(--bs-body-font-family);
}

.table td {
  font-size: 16px;
  font-family: var(--bs-body-font-family);
}

#warning_rules_header {
  background-color: #00c4ca;
  align-items: center;
  color: white;
  padding-top: 10px !important;
  text-align: center;
  align-items: center;
  border-radius: 3px;
  height: 40px;
  width: 10vw;
}

#std_requests_header {
  background-color: #00c4ca;
  align-items: center;
  color: white;
  padding-top: 10px !important;
  text-align: center;
  align-items: center;
  border-radius: 3px;
  height: 40px;
  width: 13vw;
}

.big-width-check {
  width: 8vw !important;
}

.select-width {
  width: 8vw !important;
}

/* CSS for circle icons */
.circle-icon {
  height: 15px !important;
  width: 15px !important;
  margin-right: 5px !important; /* Adjust margin-right as needed */
}

/* CSS for edit and delete icons */
.zeButton {
  height: 15px !important;
  width: 15px !important;
  margin: 1px 5px !important;
  padding: 0; /* Adjust margins as needed */
}

.input-group-ques {
  background-color: #00c4ca;
  color: white;
  font-weight: bold;
  width: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media (max-width: 1800px) {
  .button-or {
      display: block;
  }
} */

.icon-style {
  margin-left: 4px;
}

.custom-modal-width {
  width: 1500px;
  height: 600px !important;
  margin: 0 auto;
}

.modal-dialog {
  display: flex;
  justify-content: center;
}

.col-padding {
  padding: 0px 0px !important;
  margin-left: -40px;
}

.card-style {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.user-style {
  width: max-content;
}

#card_header {
  background-color: #b3d4f5;
  // background-color: #91bde8;
  // background-color: #d2e7ff;
  align-items: center;
  color: white;
  padding-top: 10px !important;
  text-align: center;
  align-items: center;
  border-radius: 3px;
  height: 40px;
}

#employee-card {
  margin-top: 20px;
}

.courseCatalogprereq {
  margin-top: -2rem;
}
.upload-box {
  display: flex;
  flex-direction: column;
  border: 2px dashed #ced4da;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  background-color: #f8f9fa;
  transition: 0.3s;
}

.upload-box:hover {
  border-color: #0d6efd;
  background-color: #e9f2ff;
}

.upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-icon-wrapper {
  position: relative;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.upload-cloud-icon {
  font-size: 60px;
  color: #0d6efd;
}

.upload-arrow-icon {
  position: absolute;
  top: 18px;
  left: 20px;
  font-size: 24px;
  color: #fff;
}
.upload-icon {
  font-size: 60px;
  font-weight: lighter;
  color: #0d6efd;
}

.timetable-container {
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
}

.timetable {
  width: 100%;
  border-collapse: collapse;
}

.timetable th,
.timetable td {
  font-size: small;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  user-select: none;
}
.timetable th {
  font-size: small;
  background-color: #e0ffff;
}

.lecture-cell {
  width: 20%;
}

/* .timetable tbody td:not(.lecture-cell) {
  width: 100px; 
} */
.timetable-cell.selected {
  background-color: lightgreen;
}

.color-block {
  width: 40px;
  height: 30px;
  display: inline-block;
  margin-left: 10px;
  border: 2px solid black;
}

.description {
  display: inline-block;
  vertical-align: middle;
}
