// 
// _pagination.scss
// 

// Pagination rounded (Custom)
.pagination-rounded {
    .page-link {
        border-radius: 30px !important;
        margin: 0 3px !important;
        border: none;
        width: 25px;
        height: 25px;
        padding: 0;
        text-align: center;
        line-height: 25px;
    }
  }