// 
// _table.scss
// 

.table {
  th {
      font-weight: $font-weight-bold;
  }

  .table-light{
    color: $body-color;
    border-color: $table-border-color;
    background-color: $table-head-bg;
  }
}

.table-bordered {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }
}


.table-dark>:not(:last-child)>:last-child>*{
  border-bottom-color:  $table-dark-border-color;
}

.table-nowrap {
  th, td {
    white-space: nowrap;
  }
}

.criteria-order-cell {
  
  
  padding: 5px;
  font-size: 16px; 
  color: black; 
  text-align: center; 
  
}


.criteria-order-text{
  border-radius: 50%;
  display: inline-block;
  background-color: #75dfd1 !important; 
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle; 
}


.SID-Modal{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  
}

.SID-ModalBody{
  height: 100vh;
}
.TitleStyleSID{
  padding-right:30px;
  padding-left:30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #00C4CA;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}