/* .hori-timeline{
    .events{
        .event-list{
            text-align: center;
            display: block;

            .event-down-icon{
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    top: 16px;
                    left: 0;
                    right: 0;
                    border-bottom: 3px dashed $gray-300;
                }
                .down-arrow-icon{
                    position: relative;
                    background-color: $card-bg;
                    padding: 4px;
                }
            }

            &:hover{
                .down-arrow-icon{
                    animation: fade-down 1.5s infinite linear;
                }
            }

            &.active{
                .down-arrow-icon{
                    animation: fade-down 1.5s infinite linear;
                    &:before {
                        content: "\ec4c";
                    }
                }
            }
        }
    }
}


.verti-timeline{
    border-left: 3px dashed $gray-300;
    margin: 0 10px;
    .event-list{
        position: relative;
        padding: 0px 0px 40px 30px;

        .event-timeline-dot{
            position: absolute;
            left: -9px;
            top: 0px;
            z-index: 9;
            font-size: 16px;
        }
        .event-content{
            position: relative;
            border: 2px solid $border-color;
            border-radius: 7px;
        }

        &.active{
            .event-timeline-dot{
                color: $primary;
            }
        }

        &:last-child{
            padding-bottom: 0px;
        }
    }
}

 */
/*  .tree {
   &-base {
     list-style: none;
     background-color: #f8f8f8;
     margin: 0;
     padding: 0;
     color: grey;
     font-family: 'lucida grande ,tahoma,verdana,arial,sans-serif';
     font-size: 14px;
   }
   &-link {
     cursor: pointer;
   }
   &-activeLink {
     background: #eee;
   }
   &-toggle {
     &-base {
       margin: 5px;
       display: inline-block;
       margin-left: -5px;
       width: 24px;
       height: 24px;
     }
     &-wrapper {
       top: 50%;
       left: 50%;
       margin: -7px 0 0 -7px;
       height: 14px;
     }
     height: 14px;
     width: 14px;
     &-arrow {
       fill: lightblue;
       position: left;
     }
   }
   &-header {
     &-base {
       display: inline-block;
       vertical-align: top;
       color: #333;
     }
 
     &-connector {
       width: 2px;
       height: 12px;
       border-left: solid 2px black;
       border-bottom: solid 2px black;
       position: absolute;
       top: 0;
       left: -21px;
     }
 
     &-title {
       line-height: 24px;
       vertical-align: middle;
     }
   }
   &-subtree {
     list-style: none;
     padding-right: 30px;
   }
 } */
 .header-hours {
  color: white;
   margin: 0;
   background-color: rgb(16, 75, 120);
   text-align: center;
   height: 40px;
   width: 100%;
   border-radius: 3px;
 }
 
 .headertree {
   margin: 0;
   background-color: rgb(252, 190, 76);
   text-align: center;
   height: 40px;
   width: 100%;
 }
 