.page-content {
  padding: 20px;
  background-color: #3672aa;
  width: 100%;

}

.university-info {

  padding: 20px;
  font-family: var(--bs-body-font-family);
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  margin-bottom: 50px;
  
  
}
.university-info .form-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.university-info .form-row .col-form-label {
  white-space: nowrap;
  margin-right: 10px;
  width: 180px; /* Adjust the width of the labels as needed */
}

.university-info .form-row .form-control {
  flex: 1;
  width: 100%; /* Adjust the width of the input spaces as needed */
  margin-left: 10px;
}



.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.university-logo {
  width: 150px;
  height: 150px;
  font-size: 24px;


}

.university-info .col-3 {
  margin-bottom: 10px;
  font-size: 10px 
}

.important-links {
 
  margin-right: 20px;
}

.logo {
  margin-top: 15px;
  margin-right: 20px;

}

.important-links h3 {
  margin-bottom: 10px;
}



.important-links li {
  margin-bottom: 10px;
}

.important-links li a {
  color: #337ab7;
  text-decoration: none;
}

.important-links li a:hover {
  text-decoration: underline;
}

/* UniversityInfo.css */

.university-name-container {

  
  border-radius: 4px;
}

.university-name {
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.university-name-border {
  //border: 2px solid #545a6d;
  background-color:#00C4CA ; // #ffdb78;
  color:white;
  padding: 5px;
  border-radius: 4px;
}

.page-content {
 // padding: 20px;
 background-color:#e1f0ff,
}
.css-1g86id8-MuiTreeItem-content.Mui-selected:hover {
  background-color: #e1f0ff;
}
.tree-container {
  height: 100%; /* Use the full height of the viewport */
  width: 100%; /* Use the full width of the viewport */
  overflow: auto;
 
  border-radius: 4px;
}

.directorate-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 9px;
  background-color: #a3d2e7; 
}
.directorate-item-actions {
  display: flex;
  align-items: center;
}


.department-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
 
}
.add-department-form {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.add-department-form input {
  margin-right: 5px;
}

.add-directorate-form {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.add-directorate-form input {
  margin-right: 5px;
}

.add-directorate-label {
  display: flex;
  align-items: center;
}

.add-directorate-label span {
  margin-right: 5px;
}

/* Hover and Active States */

.directorate-item .delete-directorate-button {
  color: rgb(117,117,117);
  padding: 1px;

}

.department-item .delete-department-button {
  color: rgb(117,117,117);
  padding: 1px;
}

.delete-directorate-button:active {
  color:  rgb(117,117,117);
  
}

.delete-department-button:active {
  color:  rgb(117,117,117);
}

.directorate-item .add-directorate-button:hover {
  color: rgb(117,117,117);
}

.directorate-item .add-directorate-button {
  color: rgb(117,117,117);
  padding: 1px;
}

.save-directorate-button:hover {
  color: rgb(17, 192, 46);
}

.add-directorate-form  .save-directorate-button {
  color: rgb(17, 192, 46);
  
}

.save-department-button:hover {
  color: #00C4CA;
}
.close-department-button:hover{
  color: #f46a6a;
}
.add-department-form .save-department-button {
  color: rgb(17, 192, 46);
}

.add-department-form input:focus,
.add-directorate-form input:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}




